h1 {
	text-align: center;
	text-decoration: underline;
	color: red;
}

body {
	background-color: #EFEFEF;
}

label {
	font-size: 16pt;
	color: black;
}

.error {
	font-size: 16pt;
	color: red;
}